Repository googleapis/python-pubsub, pull requests merged in 2020-12, with the labels that each got.

#245 chore: require samples checks
  .github/sync-repo-settings.yaml
Labels: api: pubsub, automerge, cla: yes, samples

#233 samples: fix flaky tests
  samples/snippets/requirements.txt
  samples/snippets/subscriber.py
  samples/snippets/subscriber_test.py
Labels: api: pubsub, cla: yes

#255 chore: add noxfile_config to samples dir
  samples/snippets/noxfile_config.py
Labels: api: pubsub, cla: yes, samples

#253 chore: pick up changes from synthtool
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  docs/conf.py
  google/pubsub_v1/__init__.py
  noxfile.py
  samples/snippets/noxfile.py
  scripts/fixup_pubsub_v1_keywords.py
  scripts/readme-gen/templates/README.tmpl.rst
  scripts/readme-gen/templates/install_deps.tmpl.rst
  synth.metadata
Labels: api: pubsub, cla: yes, context: partial

#250 fix: pass anonymous credentials for emulator
  google/cloud/pubsub_v1/publisher/client.py
  google/cloud/pubsub_v1/subscriber/client.py
Labels: api: pubsub, cla: yes

#263 fix: flaky samples tests
  samples/snippets/noxfile_config.py
  samples/snippets/subscriber_test.py
Labels: api: pubsub, cla: yes, samples

#259 fix: remove grpc send/recieve limits
  google/pubsub_v1/__init__.py
  google/pubsub_v1/services/publisher/transports/__init__.py
  google/pubsub_v1/services/publisher/transports/grpc.py
  google/pubsub_v1/services/publisher/transports/grpc_asyncio.py
  google/pubsub_v1/services/subscriber/transports/__init__.py
  google/pubsub_v1/services/subscriber/transports/grpc.py
  google/pubsub_v1/services/subscriber/transports/grpc_asyncio.py
  google/pubsub_v1/types/__init__.py
  synth.metadata
  tests/unit/gapic/pubsub_v1/test_publisher.py
  tests/unit/gapic/pubsub_v1/test_subscriber.py
Labels: api: pubsub, cla: yes, context: partial

#269 fix: Don't open the google.cloud package by adding pubsub.py
  google/cloud/pubsub/__init__.py
Labels: api: pubsub, cla: yes
