Repository googleapis/python-pubsub, pull requests merged in 2021-03, with the labels that each got.

#304 fix(sample): mitigate flakiness in subscriber_test
  samples/snippets/subscriber_test.py
Labels: api: pubsub, cla: yes, samples

#297 fix: SSL error when using the client with the emulator
  .coveragerc
  .github/header-checker-lint.yml
  .gitignore
  .kokoro/build.sh
  .kokoro/docs/docs-presubmit.cfg
  .trampolinerc
  CONTRIBUTING.rst
  LICENSE
  MANIFEST.in
  docs/_static/custom.css
  google/pubsub_v1/services/publisher/async_client.py
  google/pubsub_v1/services/publisher/client.py
  google/pubsub_v1/services/publisher/pagers.py
  google/pubsub_v1/services/publisher/transports/grpc.py
  google/pubsub_v1/services/publisher/transports/grpc_asyncio.py
  google/pubsub_v1/services/schema_service/async_client.py
  google/pubsub_v1/services/schema_service/client.py
  google/pubsub_v1/services/schema_service/pagers.py
  google/pubsub_v1/services/schema_service/transports/grpc.py
  google/pubsub_v1/services/schema_service/transports/grpc_asyncio.py
  google/pubsub_v1/services/subscriber/async_client.py
  google/pubsub_v1/services/subscriber/client.py
  google/pubsub_v1/services/subscriber/pagers.py
  google/pubsub_v1/services/subscriber/transports/grpc.py
  google/pubsub_v1/services/subscriber/transports/grpc_asyncio.py
  google/pubsub_v1/types/pubsub.py
  google/pubsub_v1/types/schema.py
  noxfile.py
  samples/snippets/noxfile.py
  synth.metadata
  synth.py
  tests/unit/gapic/pubsub_v1/test_publisher.py
  tests/unit/gapic/pubsub_v1/test_schema_service.py
  tests/unit/gapic/pubsub_v1/test_subscriber.py
Labels: api: pubsub, cla: yes

#267 chore: re-generate GAPIC layer with changes from from googleapis (via synth)
  google/pubsub_v1/__init__.py
  google/pubsub_v1/services/publisher/async_client.py
  google/pubsub_v1/services/schema_service/async_client.py
  google/pubsub_v1/services/subscriber/async_client.py
  synth.metadata
  tests/unit/gapic/pubsub_v1/__init__.py
  tests/unit/gapic/pubsub_v1/test_publisher.py
  tests/unit/gapic/pubsub_v1/test_schema_service.py
  tests/unit/gapic/pubsub_v1/test_subscriber.py
Labels: api: pubsub, cla: yes, context: partial

#260 test: install pyopenssl for mTLS testing (via synth)
  noxfile.py
  synth.metadata
Labels: api: pubsub, cla: yes, context: full, context: partial

#307 docs: remove EXPERIMENTAL tag from Schema service (via synth)
  google/cloud/pubsub_v1/proto/pubsub.proto
  google/cloud/pubsub_v1/proto/schema.proto
  google/pubsub_v1/__init__.py
  google/pubsub_v1/services/schema_service/async_client.py
  google/pubsub_v1/services/schema_service/client.py
  google/pubsub_v1/services/schema_service/transports/grpc.py
  google/pubsub_v1/services/schema_service/transports/grpc_asyncio.py
  google/pubsub_v1/types/pubsub.py
  synth.metadata
Labels: api: pubsub, cla: yes, context: partial

#272 chore: add constraints file
  testing/constraints-3.10.txt
  testing/constraints-3.11.txt
  testing/constraints-3.6.txt
  testing/constraints-3.7.txt
  testing/constraints-3.8.txt
  testing/constraints-3.9.txt
Labels: api: pubsub, automerge, cla: yes

#311 fix(sample): bump the max_time to 10 mins for a flaky test
  samples/snippets/subscriber_test.py
Labels: api: pubsub, cla: yes, samples

#317 samples: downgrade lib version in requirements.txt for samples testing
  samples/snippets/requirements.txt
Labels: api: pubsub, cla: yes, samples

#322 fix(sample): mark test flaky
  samples/snippets/subscriber_test.py
Labels: api: pubsub, cla: yes, samples

#326 fix(sample): mark test flaky
  samples/snippets/subscriber_test.py
Labels: api: pubsub, cla: yes, samples

#329 fix(sample): retry InternalServerError
  samples/snippets/subscriber_test.py
Labels: api: pubsub, cla: yes, samples

#323 fix: Remove EXPERIMENTAL tag for ordering keys in types.py
  google/cloud/pubsub_v1/types.py
Labels: api: pubsub, cla: yes

#302 chore: remove Python 2 compatibility code
  google/cloud/pubsub_v1/publisher/_batch/base.py
  google/cloud/pubsub_v1/publisher/_batch/thread.py
  google/cloud/pubsub_v1/publisher/_sequencer/base.py
  google/cloud/pubsub_v1/publisher/client.py
  google/cloud/pubsub_v1/subscriber/_protocol/helper_threads.py
  google/cloud/pubsub_v1/subscriber/_protocol/leaser.py
  google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  google/cloud/pubsub_v1/subscriber/scheduler.py
  tests/system.py
  tests/unit/pubsub_v1/subscriber/test_dispatcher.py
  tests/unit/pubsub_v1/subscriber/test_helper_threads.py
  tests/unit/pubsub_v1/subscriber/test_message.py
  tests/unit/pubsub_v1/subscriber/test_messages_on_hold.py
  tests/unit/pubsub_v1/subscriber/test_scheduler.py
Labels: api: pubsub, automerge, cla: yes

#337 testing(sample): add presubmit builds against head
  .kokoro/samples/python3.6/periodic-head.cfg
  .kokoro/samples/python3.7/periodic-head.cfg
  .kokoro/samples/python3.8/periodic-head.cfg
  .kokoro/test-samples-against-head.sh
  .kokoro/test-samples-impl.sh
  .kokoro/test-samples.sh
Labels: api: pubsub, cla: yes, samples

#339 chore(samples): fix typo
  samples/snippets/schema_test.py
Labels: api: pubsub, cla: yes, samples

#320 fix: move await_msg_callbacks flag to subscribe() method
  google/cloud/pubsub_v1/subscriber/_protocol/dispatcher.py
  google/cloud/pubsub_v1/subscriber/_protocol/heartbeater.py
  google/cloud/pubsub_v1/subscriber/_protocol/leaser.py
  google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  google/cloud/pubsub_v1/subscriber/client.py
  google/cloud/pubsub_v1/subscriber/scheduler.py
  samples/snippets/subscriber.py
  samples/snippets/subscriber_test.py
  tests/system.py
  tests/unit/pubsub_v1/subscriber/test_dispatcher.py
  tests/unit/pubsub_v1/subscriber/test_heartbeater.py
  tests/unit/pubsub_v1/subscriber/test_leaser.py
  tests/unit/pubsub_v1/subscriber/test_scheduler.py
  tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
  tests/unit/pubsub_v1/subscriber/test_subscriber_client.py
Labels: api: pubsub, cla: yes

#347 chore: release 2.4.1
  CHANGELOG.md
  setup.py
Labels: api: pubsub, automerge, autorelease: pending, cla: yes

#355 chore: emit a warning if return_immediately flag is set with synchronous pull
  google/pubsub_v1/services/subscriber/async_client.py
  google/pubsub_v1/services/subscriber/client.py
  synth.py
  tests/unit/pubsub_v1/subscriber/test_subscriber_client.py
Labels: api: pubsub, cla: yes
