Repository googleapis/python-pubsub, pull requests merged in 2021-06, with the labels that each got.

#420 docs: explain that future.cancel() is non-blocking
  google/cloud/pubsub_v1/subscriber/futures.py
Labels: api: pubsub, cla: yes

#425 test: presubmit against Lite samples
  .github/sync-repo-settings.yaml
  .kokoro/presubmit-against-pubsublite-samples.sh
  .kokoro/presubmit/common.cfg
  .kokoro/presubmit/presubmit-against-pubsublite-samples.cfg
  .kokoro/presubmit/presubmit.cfg
Labels: api: pubsub, cla: yes, samples

#424 docs: block until the streaming pull shuts down
  google/cloud/pubsub_v1/subscriber/client.py
  samples/snippets/quickstart/sub.py
  samples/snippets/schema.py
  samples/snippets/subscriber.py
Labels: api: pubsub, automerge, cla: yes, samples

#427 test: gather status code after pytest
  .kokoro/presubmit-against-pubsublite-samples.sh
Labels: api: pubsub, cla: yes

#299 feat: support customizable retry and timeout settings on the publisher client
  UPGRADING.md
  google/cloud/pubsub_v1/publisher/_batch/thread.py
  google/cloud/pubsub_v1/publisher/_sequencer/base.py
  google/cloud/pubsub_v1/publisher/_sequencer/ordered_sequencer.py
  google/cloud/pubsub_v1/publisher/_sequencer/unordered_sequencer.py
  google/cloud/pubsub_v1/publisher/client.py
  google/cloud/pubsub_v1/types.py
  google/pubsub_v1/services/publisher/async_client.py
  google/pubsub_v1/services/publisher/client.py
  google/pubsub_v1/types/__init__.py
  synth.py
  tests/unit/pubsub_v1/publisher/batch/test_thread.py
  tests/unit/pubsub_v1/publisher/sequencer/test_ordered_sequencer.py
  tests/unit/pubsub_v1/publisher/sequencer/test_unordered_sequencer.py
  tests/unit/pubsub_v1/publisher/test_publisher_client.py
Labels: api: pubsub, automerge, cla: yes

#429 sample: add publish flow control sample and other nits
  samples/snippets/publisher.py
  samples/snippets/publisher_test.py
Labels: api: pubsub, cla: yes, samples

#422 fix: threads can skip the line in publisher flow controller
  google/cloud/pubsub_v1/publisher/flow_controller.py
  tests/unit/pubsub_v1/publisher/test_flow_controller.py
Labels: api: pubsub, cla: yes

#433 samples: publish with error handler and flow control
  samples/snippets/publisher.py
Labels: api: pubsub, cla: yes, samples

#432 tests: mitigate flaky snippets tests
  samples/snippets/schema_test.py
  samples/snippets/subscriber.py
  samples/snippets/subscriber_test.py
Labels: api: pubsub, cla: yes

#434 samples(test): flaky sync pull test
  samples/snippets/subscriber_test.py
Labels: api: pubsub, cla: yes, samples
