Repository googleapis/python-pubsub, pull requests merged in 2021-04, with the labels that each got.

#360 docs: fix `create_topic()` call in README
  README.rst
Labels: api: pubsub, cla: yes, samples

#369 chore: pass explicit credentials in all unit tests creating clients
  tests/unit/pubsub_v1/conftest.py
  tests/unit/pubsub_v1/publisher/test_publisher_client.py
  tests/unit/pubsub_v1/subscriber/test_subscriber_client.py
Labels: api: pubsub, cla: yes, kokoro: force-run

#364 chore: bump test coverage to 100%
  .coveragerc
  google/cloud/pubsub_v1/publisher/_batch/base.py
  google/cloud/pubsub_v1/publisher/_sequencer/base.py
  google/cloud/pubsub_v1/publisher/client.py
  google/cloud/pubsub_v1/publisher/flow_controller.py
  google/cloud/pubsub_v1/subscriber/scheduler.py
  synth.py
  tests/unit/gapic/pubsub_v1/test_subscriber.py
  tests/unit/pubsub_v1/publisher/batch/test_base.py
  tests/unit/pubsub_v1/publisher/batch/test_thread.py
  tests/unit/pubsub_v1/publisher/sequencer/test_unordered_sequencer.py
  tests/unit/pubsub_v1/publisher/test_flow_controller.py
  tests/unit/pubsub_v1/publisher/test_publisher_client.py
  tests/unit/pubsub_v1/subscriber/test_message.py
  tests/unit/pubsub_v1/subscriber/test_subscriber_client.py
  tests/unit/pubsub_v1/test__gapic.py
Labels: api: pubsub, cla: yes

#361 chore: fix streaming pull close test flakiness
  google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, cla: yes

#301 docs: add additional info on use_legacy_flow_control parameter
  google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  google/cloud/pubsub_v1/subscriber/client.py
Labels: api: pubsub, cla: yes, documentation

#377 chore: Added missing licence header
  tests/unit/pubsub_v1/conftest.py
Labels: api: pubsub, cla: yes

#359 test: require 100% unit test coverage (via synth)
  .github/header-checker-lint.yml
  .pre-commit-config.yaml
  docs/conf.py
  noxfile.py
  renovate.json
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: pubsub, cla: yes, context: partial

#378 test: fix flaky test for blocking pull shutdown
  tests/system.py
Labels: api: pubsub, cla: yes

#384 chore: generate PyPI token in secrets manager, fix spacing in docs (via synth)
  .kokoro/release.sh
  .kokoro/release/common.cfg
  docs/_static/custom.css
  synth.metadata
Labels: api: pubsub, cla: yes, context: partial

#382 chore: prevent normalization of semver versioning
  setup.py
Labels: api: pubsub, cla: yes

#393 fix: do not crash if distribution cannot be found when extracting semver
  google/cloud/pubsub_v1/publisher/client.py
  google/cloud/pubsub_v1/subscriber/client.py
Labels: api: pubsub, cla: yes

#396 chore(revert): revert preventing normalization
  setup.py
Labels: api: pubsub, cla: yes
