Repository googleapis/python-pubsub, pull requests merged in 2022-07, with the labels that each got.

#732 ci: fix flake8 errors for samples/snippets
  .github/.OwlBot.lock.yaml
  .kokoro/test-samples-impl.sh
  README.rst
  noxfile.py
  owlbot.py
  samples/snippets/noxfile.py
  samples/snippets/subscriber_test.py
  scripts/readme-gen/templates/install_deps.tmpl.rst
Labels: api: pubsub, samples, size: m

#722 samples: create BigQuery subscription
  samples/snippets/requirements-test.txt
  samples/snippets/requirements.txt
  samples/snippets/subscriber.py
  samples/snippets/subscriber_test.py
Labels: api: pubsub, samples, size: m

#735 fix(deps): require google-api-core>=1.32.0,>=2.8.0
  setup.py
  testing/constraints-3.7.txt
Labels: api: pubsub, size: xs

#738 fix: Remove bidi modacks on streamingpull initial request
  google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, size: s

#743 chore: run the code generator
  google/pubsub_v1/services/publisher/client.py
  google/pubsub_v1/services/publisher/transports/base.py
  google/pubsub_v1/services/publisher/transports/grpc.py
  google/pubsub_v1/services/publisher/transports/grpc_asyncio.py
  google/pubsub_v1/services/schema_service/client.py
  google/pubsub_v1/services/schema_service/transports/base.py
  google/pubsub_v1/services/schema_service/transports/grpc.py
  google/pubsub_v1/services/schema_service/transports/grpc_asyncio.py
  google/pubsub_v1/services/subscriber/client.py
  google/pubsub_v1/services/subscriber/transports/base.py
  google/pubsub_v1/services/subscriber/transports/grpc.py
  google/pubsub_v1/services/subscriber/transports/grpc_asyncio.py
  owlbot.py
  tests/unit/gapic/pubsub_v1/test_publisher.py
  tests/unit/gapic/pubsub_v1/test_schema_service.py
  tests/unit/gapic/pubsub_v1/test_subscriber.py
Labels: api: pubsub, size: l
