Repository googleapis/python-pubsub, pull requests merged in 2022-08, with the labels that each got.

#751 docs: reorganize sphinx structure
  docs/index.rst
  docs/pubsub/publisher/api/client.rst
  docs/pubsub/publisher/api/futures.rst
  docs/pubsub/publisher/api/pagers.rst
  docs/pubsub/publisher/index.rst
  docs/pubsub/subscriber/api/client.rst
  docs/pubsub/subscriber/api/futures.rst
  docs/pubsub/subscriber/api/message.rst
  docs/pubsub/subscriber/api/pagers.rst
  docs/pubsub/subscriber/api/scheduler.rst
  docs/pubsub/subscriber/index.rst
  docs/pubsub/types.rst
Labels: api: pubsub, size: xs

#760 fix: set stream_ack_deadline to max_duration_per_lease_extension or 60 s, set ack_deadline to min_duration_per_lease_extension or 10 s
  google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, size: m

#762 fix(deps): allow protobuf < 5.0.0
  setup.py
  testing/constraints-3.7.txt
Labels: api: pubsub, automerge, size: xs

#763 fix: Update stream_ack_deadline with ack_deadline
  google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py
  tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: size: s
