Repository googleapis/python-pubsub, pull requests merged in 2023-02, with the labels that each got.

#866 ci: fix move global import in publisher sample
  samples/snippets/publisher.py
Labels: api: pubsub, samples, size: xs

#870 ci: Refactor system tests with transport
  tests/system.py
Labels: api: pubsub, size: s

#871 Fix: Port proto changes
  google/pubsub_v1/services/publisher/async_client.py
  google/pubsub_v1/services/publisher/client.py
  google/pubsub_v1/services/subscriber/async_client.py
  google/pubsub_v1/services/subscriber/client.py
  google/pubsub_v1/services/subscriber/transports/base.py
  google/pubsub_v1/services/subscriber/transports/grpc.py
  google/pubsub_v1/services/subscriber/transports/grpc_asyncio.py
  google/pubsub_v1/types/pubsub.py
  samples/generated_samples/snippet_metadata_google.pubsub.v1.json
  tests/unit/gapic/pubsub_v1/test_publisher.py
  tests/unit/gapic/pubsub_v1/test_schema_service.py
  tests/unit/gapic/pubsub_v1/test_subscriber.py
Labels: api: pubsub, size: l

#875 samples: Schema evolution
  samples/snippets/resources/us-states-plus.avsc
  samples/snippets/resources/us-states-plus.proto
  samples/snippets/schema.py
  samples/snippets/schema_test.py
Labels: api: pubsub, samples, size: l
