Repository googleapis/python-pubsub, pull requests merged in 2025-03, with the labels that each got.

#1372 fix: obtain channel from intercept channel
  tests/unit/pubsub_v1/publisher/test_publisher_client.py
  tests/unit/pubsub_v1/subscriber/test_subscriber_client.py
Labels: api: pubsub, size: s

#1371 chore(revert): Revert "fix: get channel target for a gRPC request"
  tests/unit/pubsub_v1/publisher/test_publisher_client.py
  tests/unit/pubsub_v1/subscriber/test_subscriber_client.py
Labels: api: pubsub, size: m

#1368 chore: remove unused files
  .github/.OwlBot.lock.yaml
  .kokoro/docker/docs/Dockerfile
  .kokoro/docker/docs/requirements.in
  .kokoro/docker/docs/requirements.txt
  .kokoro/docs/common.cfg
  .kokoro/docs/docs-presubmit.cfg
  .kokoro/docs/docs.cfg
  .kokoro/publish-docs.sh
  .kokoro/release.sh
  .kokoro/release/common.cfg
  .kokoro/release/release.cfg
  .kokoro/requirements.in
  .kokoro/requirements.txt
Labels: api: pubsub, size: xl

#1374 fix: allow logs to propagate upstream for caplog testing
  tests/unit/pubsub_v1/conftest.py
  tests/unit/pubsub_v1/subscriber/test_heartbeater.py
  tests/unit/pubsub_v1/subscriber/test_leaser.py
  tests/unit/pubsub_v1/subscriber/test_messages_on_hold.py
  tests/unit/pubsub_v1/subscriber/test_streaming_pull_manager.py
Labels: api: pubsub, size: m
